    <footer class="marketing-site-footer">
      <div class="row medium-unstack">
        <div class="medium-4 columns">
          <ul class="menu marketing-site-footer-menu-social simple">
            <li><a href="#"><i class="fab fa-youtube-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="medium-4 columns">
          <h4 class="marketing-site-footer-title">Contact Info</h4>
          <div class="marketing-site-footer-block">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>100 W Rincon<br>San Francisco, CA 94015</p>
          </div>
          <div class="marketing-site-footer-block">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>1 (800) 555-5555</p>
          </div>
          <div class="marketing-site-footer-block">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p>yetirules@fakeemail.com</p>
          </div>
        </div>
      </div>
      <div class="marketing-site-footer-bottom">
      </div>
    </footer>