<nav id="navbar">
  <span class="header">Final Project Nav Bar</span>
  <div class="btn-toolbar">
    <a href='/register'><button type="submit" class="btn btn-primary" style="margin:0.1em"">Register</button></a>
    <a href='/login'><button type="submit" class="btn btn-primary" style="margin:0.1em">Login</button></a>
  </div>
</nav>