<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Inbox</title>

  <link rel='stylesheet' href='/stylesheets/foundation.css' />
  <link rel='stylesheet' href='/stylesheets/app.css' />
  <link rel='stylesheet' href='/stylesheets/inbox.css' />
  <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.8.1/css/all.css”
    integrity=“sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf” crossorigin=“anonymous”>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
</head>

<body>

  <% include ./partials/_navbar %>
<div class="inbox-content">
  <h3><b>Welcome to your inbox!</b></h3>
  <p><b>You can find all of your conversations with matches here.</b></p>

  <!-- minified snippet to load TalkJS without delaying your page -->
  <script>
    (function (t, a, l, k, j, s) {
      s = a.createElement('script'); s.async = 1; s.src = "https://cdn.talkjs.com/talk.js"; a.head.appendChild(s)
        ; k = t.Promise; t.Talk = {
          v: 1, ready: {
            then: function (f) {
              if (k) return new k(function (r, e) { l.push([f, r, e]) }); l
                .push([f])
            }, catch: function () { return k && new k() }, c: l
          }
        };
    })(window, document, []);
  </script>

  <!-- container element in which TalkJS will display a chat UI -->
  <div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px"><i>Loading chat...</i></div>

  <!-- TalkJS initialization code, which we'll customize in the next steps -->
  <script>
    Talk.ready.then(function () {
      var me = new Talk.User({
        id: "2502",
        name: "Bosco",
        email: "<%= me_email %>",
        photoUrl: "https://i.kym-cdn.com/entries/icons/facebook/000/011/061/lelbron.jp",
      });
      window.talkSession = new Talk.Session({
        appId: "tCnvhS5o",
        me: me
      });
      var inbox = talkSession.createInbox();
      inbox.mount(document.getElementById("talkjs-container"));
    });
  </script>

  <hr>
  </div>
  
  <footer id="footer">
    <% include ./partials/_footer %>
  </footer>
</body>