<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Roomer</title>

  <link rel='stylesheet' href='/stylesheets/foundation.css' />
  <link rel='stylesheet' href='/stylesheets/app.css' />
  <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.8.1/css/all.css”
    integrity=“sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf” crossorigin=“anonymous”>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
</head>

<body>

  <% include ./partials/_navbar %>

  <div class="hero-full-screen">

    <div class="top-content-section">
    </div>

    <div class='content'>
      <div class="middle-content-section">
        <div class='flow-animate'>Your Roommate Search</div>
        <div class='flow-animate'>
          <span class='cool'>Simplified</span>
        </div>
        <h1 class='dope'>Your Perfect Roomate is Out There</h1>

        <form action="/register" method="GET">
          <button class="btn btn-primary">START</button>
        </form>
      </div>
    </div>

    <div class="bottom-content-section" data-magellan data-threshold="0">
      <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path
            d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z" />
        </svg></a>
    </div>

  </div>

  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M23.784 18.24c.287.142.287.267 0 .374l-11.357 5.223c-.287.145-.57.145-.854 0L.213 18.614c-.284-.107-.284-.232 0-.375l2.722-1.23c.284-.14.57-.14.852 0l7.787 3.573c.285.14.57.14.854 0l7.787-3.574c.283-.14.568-.14.852 0l2.717 1.23zm0-6.454c.287.143.287.285 0 .426L12.427 17.44c-.287.104-.57.104-.854 0L.213 12.21c-.284-.143-.284-.284 0-.426l2.722-1.227c.284-.144.57-.144.852 0l7.787 3.57c.285.144.57.144.854 0l7.787-3.57c.283-.144.568-.144.852 0l2.717 1.226zM.214 5.76c-.285-.143-.285-.267 0-.375L11.574.16c.283-.14.57-.14.852 0l11.358 5.23c.287.107.287.232 0 .375l-11.357 5.223c-.287.143-.57.143-.854 0L.213 5.76z"/>
        </svg>
      </div>
      <div class="timeline-content">
        <p class="timeline-content-date">Step 1: Register with us</h2>
          <p>Once our system obtain your information all the work will be left to us!</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M23.784 18.24c.287.142.287.267 0 .374l-11.357 5.223c-.287.145-.57.145-.854 0L.213 18.614c-.284-.107-.284-.232 0-.375l2.722-1.23c.284-.14.57-.14.852 0l7.787 3.573c.285.14.57.14.854 0l7.787-3.574c.283-.14.568-.14.852 0l2.717 1.23zm0-6.454c.287.143.287.285 0 .426L12.427 17.44c-.287.104-.57.104-.854 0L.213 12.21c-.284-.143-.284-.284 0-.426l2.722-1.227c.284-.144.57-.144.852 0l7.787 3.57c.285.144.57.144.854 0l7.787-3.57c.283-.144.568-.144.852 0l2.717 1.226zM.214 5.76c-.285-.143-.285-.267 0-.375L11.574.16c.283-.14.57-.14.852 0l11.358 5.23c.287.107.287.232 0 .375l-11.357 5.223c-.287.143-.57.143-.854 0L.213 5.76z"/>
        </svg>
      </div>

      <div class="timeline-content right">
        <p class="timeline-content-date">Step 2: Tell us your preferences</h2>
          <p>Just tell us where you want to live and some general guidelines =)</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M23.784 18.24c.287.142.287.267 0 .374l-11.357 5.223c-.287.145-.57.145-.854 0L.213 18.614c-.284-.107-.284-.232 0-.375l2.722-1.23c.284-.14.57-.14.852 0l7.787 3.573c.285.14.57.14.854 0l7.787-3.574c.283-.14.568-.14.852 0l2.717 1.23zm0-6.454c.287.143.287.285 0 .426L12.427 17.44c-.287.104-.57.104-.854 0L.213 12.21c-.284-.143-.284-.284 0-.426l2.722-1.227c.284-.144.57-.144.852 0l7.787 3.57c.285.144.57.144.854 0l7.787-3.57c.283-.144.568-.144.852 0l2.717 1.226zM.214 5.76c-.285-.143-.285-.267 0-.375L11.574.16c.283-.14.57-.14.852 0l11.358 5.23c.287.107.287.232 0 .375l-11.357 5.223c-.287.143-.57.143-.854 0L.213 5.76z"/>
        </svg>
      </div>
      <div class="timeline-content">
        <p class="timeline-content-date">Step 3: Boom! We find and match your ideal roomate</h2>
          <p>
            Our algorithim will find you the perfect roomate, just dont be shy to chat with them and plan it out!
          </p>
      </div>
    </div>
  </div>


  <div id="main-content-section" data-magellan-target="main-content-section">
    <div class="marketing-site-content-section">
      <div class="marketing-site-content-section-img">
        <img src="http://cdn.home-designing.com/wp-content/uploads/2016/12/large-door-panel-exposed-brick.jpeg" alt=""
          width="24" height="24">
      </div>
      <div class="marketing-site-content-section-block">
        <h3 class="marketing-site-content-section-block-header">Let's put those horrorible roommate roomers to rest</h3>
        <p class="marketing-site-content-section-block-subheader subheader" style="font-size: 1.2rem">Tired of your
          roomate constantly being loud
          at night when you just want to rest? Or when your roomate leaves your place filthy? Maybe you are just tired
          of being complained about when you simply just want to have a good time with some friends you've invited over!
          Yes, we have all been there! Finding your perfect roomate isn't easy, but leave the hard work to us. </p>
        <a href="http://localhost:3000/register" class="btn btn-primary btn-sm">Get Started</a>
      </div>
      <div class="marketing-site-content-section-block small-order-2 medium-order-1">
        <h3 class="marketing-site-content-section-block-header">Beautiful Homes</h3>
        <p class="marketing-site-content-section-block-subheader subheader" style="font-size: 1.2rem">You select where
          you want to live, and we'll
          find a perfect place for you!</p>
        <a href="#" class="btn btn-primary btn-sm">Learn More</a>
      </div>
      <div class="marketing-site-content-section-img small-order-1 medium-order-2">
        <img src="http://cdn.home-designing.com/wp-content/uploads/2016/12/sloping-roof-brick-wall-decor.jpg" alt="" />
      </div>
    </div>
  </div>

  <% include ./partials/_footer %>

  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/what-input.js"></script>
  <script src="/scripts/foundation.js"></script>
  <script src="/scripts/app.js"></script>
</body>

</html>