<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
  </head>
  <body>
    <nav>
      <% include ./partials/_navbar %>
    </nav>
    <p>Welcome to <%= title %> Home</p>
  </body>
</html>
