<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/foundation.css' />
  <link rel='stylesheet' href='/stylesheets/app.css' />
</head>

<body>
      <div class="top-bar">
		  <div class="top-bar-left">
		    <ul class="dropdown menu" data-dropdown-menu>
		      <li class="menu-text">Final Project</li>
		      <li><a href="#">Matches</a></li>
		    </ul>
		  </div>
		  <div class="top-bar-right">
		    <ul class="menu">
		      
		    </ul>
		  </div>
		</div>
  <div>

  </div>
  
  <h1>Welcome to <%= title %> Home</h1>

  <h2>What is Final Project</h2>
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
    Consectetur adipiscing elit pellentesque habitant morbi tristique senectus.
    Condimentum lacinia quis vel eros donec. Eleifend donec pretium vulputate sapien nec sagittis.
    Velit egestas dui id ornare arcu odio ut sem nulla.
  </div>

  <h2>Features</h2>
  <div class="features">
    List some features here:
    connect by personality
    filter by parameters
    match by questions
  </div>

<script src="/scripts/jquery.js"></script>
<script src="/scripts/what-input.js"></script>
<script src="/scripts/foundation.js"></script>
<script src="/scripts/app.js"></script>
</body>

</html>