<!DOCTYPE html>
<html>

<head>
  <title>Matches</title>
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
</head>

<body>
  <nav id="navbar">
    <% include ./partials/_navbar %>
  </nav>
  <h1>Welcome to Matches Home</h1>

  <h2>Here are your matches!</h2>
  <table>
    <tr>
      <th>First Name</th>
      <th>Gender</th>
      <th>Percentage match</th>
      <th>Link to profile</th>
    </tr>
    <% for (let i = 0; i < user.length; i++) { %>
      <tr>
        <td><%= user[i].user.firstName %></td>
        <td><%= user[i].user.gender %></td>
        <td><%= 100 - Math.floor((user[i].rank / 61 * 100) * 10) / 10 %>%</td>    
        <td><%=  %>%</td>
      </tr>
    <% } %>
    
  </table>
</body>

</html>