<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/foundation.css' />
  <link rel='stylesheet' href='/stylesheets/app.css' />
  <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.8.1/css/all.css”
    integrity=“sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf” crossorigin=“anonymous”>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>

<body>
  <div>
    <nav id="navbar">
      <% include ./partials/_navbar %>
    </nav>
  </div>

  <div style="font-size:20px; padding:25px; background: #E6E8EB">
    <form action="/register" method="POST">
      <div class="form-icons">
        <h4>Register for an account</h4>

        <div class="input-group">
          <span class="input-group-label">
            <i class="fa fa-user"></i>
          </span>
          <input name="firstName" class="input-group-field" type="text" placeholder="First name">
        </div>

        <div class="input-group">
          <span class="input-group-label">
            <i class="fa fa-user"></i>
          </span>
          <input name="lastName" class="input-group-field" type="text" placeholder="Last name">
        </div>

        <div class="input-group">
          <span class="input-group-label">
            <i class="fa fa-envelope"></i>
          </span>
          <input name="email" class="input-group-field" type="text" placeholder="Email">
        </div>

        <div class="input-group">
          <span class="input-group-label">
            <i class="fa fa-key"></i>
          </span>
          <input name="password" class="input-group-field" type="password" placeholder="Password">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-label">
          Gender
        </span>
        <select class="select-group-field" name="gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>



      <button class="button">Register</button>
    </form>
  </div>
  <footer id="marketing-site-footer">
    <% include ./partials/_footer %>
  </footer>
  
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/what-input.js"></script>
  <script src="/scripts/foundation.js"></script>
  <script src="/scripts/app.js"></script>
</body>

</html>