/* STYLING FOR MATCHES PAGE */

body {
  background: url(../images/loft.jpg) !important;
  background-attachment: fixed !important;
  background-size: 50% 50%;
}
.matches-content {
  padding: 2rem;
  background-color: transparent;
  margin: 4rem;
}
 table {
   opacity: 0.8;
 }

 #neighbours {
   display: none;
 }